.events_list {
  display: flex;
  justify-content: center;
}

.event_item {
  display: flex;
  flex-basis: 33.333%;
  justify-content: space-between;
  padding: 10px;
}

.event_content {
}

.event_image_container {
}
