.carousel_list {
  background: var(--bg-light-gray);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.carousel_list_item {
  border: 3px solid var(--bg-gray);
  border-radius: 10px;
  flex-basis: 30%;
  margin: 10px;
  min-width: 150px;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.carousel_list_item a {
  display: block;
  height: 270px;
  padding: 20px;
  width: 100%;
}

.carousel_list_item:hover {
  background-color: var(--bg-gray-hover);
}

.carousel_image_container {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.carousel_image_container img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel_card_description {
  position: relative;
  height: 4rem;
  line-height: 1rem;
  overflow-y: hidden;
}

.carousel_item_read_more {
  color: var(--bg-primary);
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

.carousel_arrows {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
